# Ignorer le dossier target (généré après compilation Maven)
backend/target/

# Ignorer les fichiers journaux
*.log

# Ignorer les fichiers temporaires
*.tmp
*.temp

# Ignorer les fichiers de configuration spécifiques à l'environnement
*.env

# Ignorer les fichiers système
.DS_Store
Thumbs.db

# Ignorer les fichiers de sauvegarde
*.bak
*.swp

# Ignorer les fichiers générés par les IDE
.idea/
*.iml
*.class
.vscode/