services:
  postgres:
    image: postgres:17.2
    container_name: vitrine-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: vitrine-db
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: vitrine-backend
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    restart: unless-stopped
volumes:
  postgres_data:
    name: vitrine_data
